<h1>Customers</h1>

<p><a href="/pizza/customers/new">Add Customer</a></p>

<% for customer in @customers %>
  <p>Customer Name: <a href="/pizza/customers/<%= customer.id %>"><%= customer.name() %></a></p>
  <hr />
<%end%>